<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<footer class="global-footer">
    <div class="global-footer-container">
        <div class="footer-links">
            <a href="#">About</a>
            <a href="#">Help Center</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
        <span class="copyright"
        >&copy; 2025 TTRPG Sessions. All rights reserved.</span
        >
    </div>
</footer>
</body>
</html>